body{
	background-color:#ff9a8d;
	
}
h2{
	text-align: center;
	color:#4d5198;
	font-family: fantasy;
}
.clBack{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: blue;
}
p{
	color:#4a536b ;
}
#idHlpp{
	text-align: center;
	margin: inherit;
}
.clHlpp{
	width: 40%;
	height: 40%;
}
p{
	font-family: monospace;
}
ui{
	font-family: sans-serif;
}